<nav class="navbar navbar-light pb-1 bg-dark">
  <a class="navbar-brand text-white" href="#" style="font-size: 25px;">Timebell</a>
  <div class="d-flex flex-row-reverse bd-highlight">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "navbar-brand  text-light mt-2 mr-5", style: "font-size: 15px;" %>
    <a class="navbar-brand  text-light mt-2 mr-5" href="#" style="font-size: 15px;">ユーザー名</a>
  </div>
</nav>