<% content_for :title do %>
  Timebellへようこそ
<% end %>
<div class="bg-light" style="height: 100vh;">
  <%= render "helper/header" %>
  <div class="d-flex justify-content-center" style="margin-top: 50px;">
    <div class="d-flex align-items-center border p-5" style="width: 50vh; height: 70%;">
      <div class="container mx-auto" style="width: 50vw; height: 50vh;">
        <h1 class="display-4 pt-3">ようこそ</h1>
        <p class="lead">Timebellはあなたの時間管理を手助けします。</p>
        <hr class="my-4">
        <div class="row d-flex justify-content-center">
          <%= link_to "アカウント作成", new_user_registration_path, class: "btn btn-primary btn-lg",  role: "button" %>
        </div>
        <div class="row d-flex justify-content-center">
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-link btn-md  mt-3", style: "font-size: 18px;"%>
        </div>
        <div class="row d-flex justify-content-center">
          <a class="btn btn-light btn-sm  mt-4" href="#" role="button">ゲストログイン</a>
        </div>
      </div>
    </div>
  </div>
</div>